$white: #ffffff;
$cardGr: #391400;
$cardGBut: rgba(253, 240, 233, 0.8);
$contBackgrColor: #fdf0e9;
$contBorderColor: #90e149;
$groupNavActive: #16cd53;
$contButtonShadow: rgba(57, 20, 0, 0.1);
$headerBackgr: #28293e;
$navigatorColor: #707070;
$selectorColor: #f3d1bf;
$ulBorder: grey;


